# Virtual Environments
venv_python313/
venv_python129/
venv_wsl/
.venv/
env/
.Python/

# Python bytecode
__pycache__/
*.pyc

# Operating System files
.DS_Store
Thumbs.db

# Project Data (ignored)
dataset/ # <<< Add this line if you want to ignore it

# IDE files (e.g., VS Code)
.vscode/